.coures_section {
  background-color: #e9ecf1;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.coures_fist_section .span_main {
  font-size: 27px;
  font-weight: 900;
  padding-right: 10px;
}
