/* ----- POPPINS FONT Link ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

/* ----- VARIABLES ----- */
:root {
  --body-color: rgb(250, 250, 250);
  --color-white: rgb(255, 255, 255);

  --text-color-second: rgb(255, 248, 248);
  --text-color-third: rgb(30, 159, 171);

  --first-color: rgb(255, 13, 13);
  --first-color-hover: rgb(40, 91, 212);

  --second-color: rgb(110, 87, 224);
  --third-color: rgb(192, 166, 49);
  --first-shadow-color: rgba(0, 0, 0, 0.592);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
